# Auto-detect text files and normalize line endings to LF on checkout and commit
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Declare binary files to ensure they won't be touched by line-ending conversions.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf
*.woff binary
*.woff2 binary
